<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sobre Nosotros</h1>
    <nav>
      <blockquote>
    <ul>
       <li> <a href="../index.html">Inicio</a> </li>
       
       <li><a href="Habitaciones.html">Habitaciones</a></li> 
       
       <li><a href="About.html">Nosotros</a></li> 
       
       <li> <a href="Contact.html">Contacto</a></li>
     </ul>
      </blockquote>
    </nav>
    <h2>Nuestra historia</h2>
  <p>
    Desde 1970, Hotel Bahia Dorada a sido el mejor sito para establecer y conciderar tu lugar seguro ofreciendo habitaciones tan comodas como tu propia casa
    el mejor lugar para quedarte.
  </p>

  <h3>Misión</h3>
  <p>
    Proveer una experiencia de hospedaje que combine calidez, comodidad y excelencia en el servicio.
  </p>

  <div class="valores">
    <h3>Valores</h3>
    <ul>
      <li>Hospitalidad</li>
      <li>Calidad</li>
      <li>Compromiso</li>
      <li>Sostenibilidad</li>
    </ul>
  </div>

  <div class="equipo">
    <h2>Nuestro equipo</h2>

    <div class="miembro">
      <img src="../assets/img/Gerente.jpg" alt="Gerente General"width="400" height="250">
      <p>
        <strong>Eduardo Luquin</strong> 
        Gerente General. Más de 15 años liderando equipos en la industria hotelera.
      </p>
    </div>

    <div class="miembro">
      <img src="../assets/img/Recepcionista.jpeg" alt="Recepcionista" width="400" height="250">
      <p>
        <strong>Fernanda Alvarez</strong> 
        Recepcionista. Siempre con una sonrisa y dispuesto a ayudar.
      </p>
    </div>

    <div class="miembro">
      <img src="../assets/img/Chef.jpg" alt="Chef Ejecutiva" width="400" height="250">
      <p>
        <strong>Laura Herrera</strong> 
        Chef Ejecutiva. Especialista en cocina internacional y local.
      </p>
    </div>
  </div>

  <p>© 2025 Hotel Bahia Dorada</p>
  </body>
</html>