<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Contactos</h1>
    <nav>
      <blockquote>
    <ul>
       <li> <a href="../index.html">Inicio</a> </li>
       
       <li><a href="Habitaciones.html">Servicios</a></li> 
       
       <li><a href="About.html">Nosotros</a></li> 
       
       <li> <a href="Contact.html">Contacto</a></li>
     </ul>
      </blockquote>
    </nav>
   

  <h2>Contáctanos</h2>
  <form>
    <br>
    <label>Nombre:</label>
    </br>
    <input type="text" name="nombre" required>
    <br></br>
    <br>
    <label>Correo electrónico:</label>
    </br>
    <input type="email" name="correo" required>
    <br></br>
    <br>
    <label>Mensaje:</label>
    </br>
    <textarea name="mensaje" rows="4"></textarea>
    <br>
    <button type="submit">Enviar</button>
    </br>
  </form>

  <div class="datos">
    <h2>Datos del hotel</h2>
     <p> &#128205; Dirección: Blvd. Forjadores, Diana Laura, 23084 La Paz, B.C.S.</p>
    <p> &#128222; Teléfono: (123) 444-9876</p>
    <p> &#128231;  Email: <a href="mailto:reservabahiadorada@gmail.com">reservabahiadorada@gmail.com.com</a></p>
  </div>

  <div class="horarios">
    <h2>Horarios de atención</h2>
    <ul>
      <li>Recepción: 24 horas</li>
      <li>Desayuno: 7:00 - 10:00</li>
      <li>Restaurante: 12:00 - 22:00</li>
    </ul>
  </div>

  <div class="ubicacion">
    <h2>Ubicación</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14571.347649607955!2d-110.29996889022289!3d24.072047048344004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86afd2a2645091e1%3A0x1bc7a95af8aefb46!2sHotel%20Bah%C3%ADa%20Dorada!5e0!3m2!1ses-419!2smx!4v1758349211091!5m2!1ses-419!2smx" 
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

 
  <p>© 2025 Hotel Bahia Dorada</p>

  </body>
</html>
   