<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Habitaciones</h1>
    <nav>
      <blockquote>
    <ul>
       <li> <a href="../index.html">Inicio</a> </li>
       
       <li><a href="Habitaciones.html">Habitaciones</a></li> 
       
       <li><a href="About.html">Nosotros</a></li> 
       
       <li> <a href="Contact.html">Contacto</a></li>
     </ul>
      </blockquote>
    </nav>
     <div class="habitacion">
    <h2>Estándar</h2>
    <img src="../assets/img/Estandar.jpg" alt="Habitación Estándar" width="400" height="250">
    <p>Habitación acogedora con cama matrimonial, baño privado, Wi-Fi y televisión por cable.</p>
    <p class="precio">Precio: $600 por noche</p>
    <a href="Detalles_Habitaciones/Estandar.html">Ver detalles</a>
  </div>

  <div class="habitacion">
    <h2>Deluxe</h2>
    <img src="../assets/img/Delux.jpg" alt="Habitación Deluxe" width="400" height="250">
    <p>Espacio más amplio con cama queen size, escritorio de trabajo y vista al jardín.</p>
    <p class="precio">Precio: $900 por noche</p>
    <a href="Detalles_Habitaciones/Delux.html">Ver detalles</a>
  </div>

  <div class="habitacion">
    <h2>Suite</h2>
    <img src="../assets/img/Suite.jpg" alt="Suite"width="400" height="250">
    <p>Lujo absoluto: cama king, sala independiente, jacuzzi y balcón con vista al mar.</p>
    <p class="precio">Precio: $1500 por noche</p>
    <a href="Detalles_Habitaciones/Suite.html">Ver detalles</a>
  </div>

  
   <p>© 2025 Hotel Bahia Dorada</p>
  
  </body>
</html>