<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Detalles De Habitaciones</h1>
    <nav>
      <blockquote>
    <ul>
       <li> <a href="../../index.html">Inicio</a> </li>
       
       <li><a href="../Habitaciones.html">Habitaciones</a></li> 
       
       <li><a href="../About.html">Nosotros</a></li> 
       
       <li> <a href="../Contact.html">Contacto</a></li>
     </ul>
      </blockquote>
    </nav>
    <h1>Estandar</h1>
  <img src="../../assets/img/Estandar.jpg" alt="Suite del Hotel Bahia Dorada" width="400" height="250">

  <p>
    La Estandar cuenta con dormitorio principal, bañoy balcón .
  </p>

  <ul>
    <li>Cama matrimonial</li>
    <li>Bañera Amplia</li>
    <li>Conexión Wi-Fi </li>
  </ul>

  <p><strong>Precio:</strong> $600 por noche</p>

  <h2>Reserva ahora</h2>
  <form>
    <label>Nombre completo:</label>
    <br>
    <input type="text" name="nombre" required>
    </br>
    <label>Correo electrónico:</label>
    <br>
    <input type="email" name="correo" required>
    </br>
    <label>Check-in:</label>
    <br>
    <input type="date" name="checkin" required>
    </br>
    <label>Check-out:</label>
    <br>
    <input type="date" name="checkout" required>
    </br>
    <label>Cantidad de personas:</label>
    <br>
    <select name="personas">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    </br>
    <br>
    <button type="submit">Reservar ahora</button>
    </br>
  </form>

  <a href="../../views/habitaciones.html">Volver a habitaciones</a>

 
    <p>© 2025 Hotel Bahia Dorada</p>
  </body>
</html>